* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#main {
  width: 100%;
  min-width: 940px;
  margin: 0 auto;
}

#left {
  float: left;
  border: 3px solid blue;
  width: 200px;
}

#center {
  border: 3px solid red;
  margin-left: 200px;
  margin-right: 200px;
}

#right {
  float: right;
  border: 3px solid blue;
  width: 200px;
}

#header {
  border: 3px solid yellow;
}

#footer {
  border: 3px solid yellow;
  clear: both;
}
