<div *ngIf="sharedService.loading" class="overlay"></div>
<div class="container-fluid">
  <header class="row">
    <h3>Searchtwo</h3>
  </header>
  <main>
    <app-search-list></app-search-list>
  </main>
  <footer class="row">
    <a href="searchlist#header">Go to header</a>
  </footer>
</div>

<div *ngIf="sharedService.alert.show" class="fixed-alert">
  <div class="alert alert-success alert-dismissible fade" [class.show]="sharedService.alert.show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    <strong>{{sharedService.alert.title}}</strong> {{sharedService.alert.text}}
    <a *ngIf="sharedService.alert.link.length > 0" [href]="sharedService.alert.link" target="_blank">link</a>
  </div>
</div>
