<div id='searchForm'>
  <form #form="ngForm" (ngSubmit)="search()">
    <select class="selectInput" id="shop" required [(ngModel)]="shop" name="shop">
  <option *ngFor="let shop of shops" [value]="shop">{{shop}}</option>
</select>
    <input type="text" class="searchInput" id="leftKeyword" [(ngModel)]="leftKeyword" name="leftKeyword" required>
    <input type="text" class="searchInput" id="rightKeyword" [(ngModel)]="rightKeyword" name="rightKeyword" required>
    <button type="submit" class="searchButton">Search</button>
  </form>
</div>
<div class="resultsColumn">
  <ul class="items">
    <li class="item" *ngFor="let item of leftItems" (click)="onSelectLeftItem(item)">
      <div class="thumbnail">
        <img src="{{item.galleryURL == null && 'app/images/image.png' || item.galleryURL}}">
      </div>
      <div class="description">
        <div class="title"> {{item.title}} </div>
        <div class="price"> {{item.currency}} {{item.price}} </div>
      </div>
    </li>
  </ul>
</div>
<div class="resultsColumn">
  <ul class="items">
    <li class="item" *ngFor="let item of rightItems" (click)="onSelectRightItem(item)">
      <div class="thumbnail">
        <img src="{{item.galleryURL == null && 'app/images/image.png' || item.galleryURL}}">
      </div>
      <div class="description">
        <div class="title"> {{item.title}} </div>
        <div class="price"> {{item.currency}} {{item.price}} </div>
      </div>
    </li>
  </ul>
</div>
