#left {
  border: 3px solid blue;
}

#center {
  /*border: 3px solid red;*/
}

#right {
  /*border: 3px solid blue;*/
}

.resultsColumn {
  padding: 0;
  background: darkgray;
}

.media-body {
  height: 16vh;
}

.item {
  height: 16vh;
  border: 2px solid white;
  background: #fffff2;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  position: relative;
  padding: 10px;
  z-index: 10;
}

.item:hover {
  border-color: #555555;
  cursor: pointer;
  right: 10px;
  bottom: 10px;
}

.selected, .selected:hover {
  border: 3px dashed;
}

.item:active {
  border: 2px solid #green;
}

.thumbnail-wrapper {
  height: 14vh;
}

.thumbnail {
  width: auto;
  height: auto;
  max-width: 13vh;
  max-height: 13vh;
}


/*img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  display: block;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#searchForm {}

.resultsColumn {
  float: left;
  width: 50%;
}

.resultsColumn2 {
  float: right;
}

.selectInput {
  border: 5px solid #1e4862;
  background-color: #3b8ec2;
  color: white;
  float: left;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  height: 36px;
  outline: 0;
}

.searchInput {
  width: calc(50% - 85px);
  background-color: #9dc7e1;
  color: white;
  border: 5px solid #1e4862;
  border-left-style: none;
  height: 25px;
  float: left;
}

.searchButton {
  background-color: #3b8ec2;
  color: white;
  border: 5px solid #1e4862;
  border-left-style: none;
  width: 55px;
  height: 36px;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}

.items {
  list-style-type: none;
  padding: 0;
}

.item {
  clear: both;
}

.thumbnail {
  float: left;
  border: 3px solid red;
  width: 100px;
  height: 100px;
  background-color: white;
  position: relative;
}

.description {
  height: 100px;
  background-color: #ebf4f9;
  border: 3px solid blue;
}

.description:hover {
  background-color: #9dc7e1;
}

.selected {
  background-color: #9dc7e1 !important;
}

.title {
  font-size: 1.2vw;
  font-weight: bold;
  color: #0654ba;
}

.price {
  font-size: 120%;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}*/
