#left {
  border: 3px solid blue;
}

#center {
  padding: 0;
}

#right {
  border: 3px solid blue;
}

.row {
  margin: 0;
}

.resultsColumn {
  padding: 0;
  background: darkgray;
}

.media-body {
  height: 16vh;
  margin: 10px;
}

.text-field {
  border-right: 0;
  padding-right: 0;
}

.clear-text{
  background: white;
  color: #464a4c;
  width: 25px;
  padding: 0;
}

.item {
  height: 16vh;
  border: 1.5px solid white;
  background: #fffff2;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  position: relative;
  padding: 10px;
  z-index: 10;
}

.item-title {
  height: 3.3em;
}

.item:hover {
  border-color: #555555;
  cursor: pointer;
  right: 10px;
  bottom: 10px;
}

.selected, .selected:hover {
  border: 3px dashed;
}

.item:active {
  border: 2px solid #green;
}

.thumbnail-wrapper {
  height: 14vh;
  width: 14vh;
}

.thumbnail {
  width: auto;
  height: auto;
  max-width: 13vh;
  max-height: 13vh;
}

.hscroll {
  overflow-x: auto;
  white-space: nowrap;
  height: calc(50vh - 50px);
  padding: 0;
}

.card-wrapper {
  margin: 0 5px 0 0;
  min-width: 45vw;
  max-width: 45vw;
}

.card-img-wrapper {
  height: 25vh;
}

.card-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card-title {
  white-space: initial;
  overflow: hidden;
  height: 2.2em;
}

.row-wrapper {
  height: 100%;
}

.results-header {
  overflow: hidden;
  white-space: nowrap;
}
