<div class="row">
  <div id="left" class="col-sm hidden-md-down">
    left
  </div>
  <div id="center" class="col-xs-12 col-lg-8">
    <form #searchForm="ngForm" (ngSubmit)="search(); hasSearched=true;">
      <div class="input-group">
        <!-- <select class="" id="shop" required [(ngModel)]="shop" name="shop">
          <option *ngFor="let shop of shops" [value]="shop">{{shop}}</option>
        </select> -->

        <div *ngFor="let column of searchColumnsList()" class="input-group text-field-group">
          <input type="text" class="form-control text-field" [(ngModel)]="keywords[column]" [name]="'keywords'+column" required [placeholder]="isInputFocused[column] ? '' : 'Keyword #' + (column+1)" (focus)="isInputFocused[column] = true" (blur)="isInputFocused[column] = false">
          <i *ngIf="keywords[column].length > 0" (click)="clearKeyword(column)" class="fa fa-times-circle-o fa-fw clear-text"></i>
        </div>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" [disabled]="!searchForm.form.valid"><fa class="fa-lg" name="search"></fa></button>
        </span>
      </div>
      <!-- <div class="alert alert-danger" [hidden]="searchForm.form.valid">
        All keywords are required
      </div> -->
    </form>
  </div>
  <div id="right" class="col-sm hidden-md-down">
    right
  </div>
</div>

<div *ngIf="hasSearched" class="row hidden-xs-down justify-content-md-center">
  <ul *ngFor="let column of searchColumnsList()" class="list-unstyled resultsColumn col-12 col-sm-6 col-lg-4">
    <li *ngFor="let item of items[column]" class="item media align-items-center" (click)="onSelectItemInColumn(column, item)" [class.selected]="item.selected">
      <div class="media-body">
        <h6 class="item-title">{{item.title}}</h6>
        <p class="text-primary font-weight-bold text-right">{{item.currency}} {{item.price}}</p>
        <div class="text-right">
          <button type="button" (click)="navigateTo(item.viewItemURL); $event.stopPropagation()" class="btn btn-outline-info btn-sm"><fa class="fa-lg" name="info-circle"></fa></button>
          <button type="button" (click)="$event.stopPropagation()" class="btn btn-outline-success btn-sm"><fa class="fa-lg" name="shopping-cart"></fa></button>
        </div>
      </div>
      <div class="thumbnail-wrapper img-thumbnail d-inline-flex">
        <img class="thumbnail rounded align-self-center mx-auto d-block" src="{{item.galleryURL == null && 'assets/image.png' || item.galleryURL}}">
      </div>
    </li>
  </ul>
</div>
<span *ngIf="!hasSearched" class="text-center">
  <p></p>
  <p>Enter keywords for items you are looking for and hit  <fa class="fa-fw" name="search"></fa></p>
  <p style="margin: 0;" (click)="searchColumns = searchColumns == 2 ? 3 : 2">Click <b style="cursor:pointer;">here</b> to search for 3 items!</p>
</span>

<div *ngIf="hasSearched" class="hidden-sm-up" id="results-area">
  <div *ngFor="let column of searchColumnsList()" class="card">
    <div class="card-header results-header" role="tab">
      <h6 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" [href]="'#collapse' + keywords[column]" aria-expanded="true">
          {{labels[column]}} {{getSelectedLabel(column)}}
        </a>
      </h6>
    </div>
    <div [id]="'collapse' + keywords[column]" class="hscrollcollapse show" role="tabpanel">
      <div class="container-fluid hscroll">
        <div class="row row-wrapper flex-row flex-nowrap">
          <div *ngFor="let item of items[column]" class="card card-wrapper" (click)="onSelectItemInColumn(column, item)" [class.selected]="item.selected">
            <div class="card-img card-img-wrapper d-inline-flex" [style.background-image]="getBgImageStyle(item)">
            </div>
            <div class="card-block">
              <h6 class="card-title">{{trimTitle(item.title)}}</h6>
              <p class="card-text text-primary font-weight-bold text-right">{{item.currency}} {{item.price}}</p>
              <button type="button" (click)="navigateTo(item.viewItemURL); $event.stopPropagation()" class="btn btn-outline-info btn-sm"><fa class="fa-lg" name="info-circle"></fa></button>
              <button type="button" (click)="$event.stopPropagation()" class="btn btn-outline-success btn-sm"><fa class="fa-lg" name="shopping-cart"></fa></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
